@inject ProductRepository _productRepository
@using DataLayer.Models
@using DataLogic.Repositories


<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?" />

@code{
   
    protected override void OnInitialized()
    {
     
    }
    public void AddClient()
    {
        
    }
}